<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <td>ID</td>
        <td>Name</td>
        <td>Description</td>
        <td>Price</td>
      </thead>
      <tr *ngFor="let product of products">
        <td (click)="getProduct(product)">{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }} </td>
        <td><button class="btn btn-small btn-primary" (click)="updateSelectedProduct(product)">Edit</button></td>
      </tr>

      <tr *ngIf="addNewProduct">
        <td><input type="text" [(ngModel)]="addNewProduct.id"></td>
        <td><input type="text" [(ngModel)]="addNewProduct.name"></td>
        <td><input type="text" [(ngModel)]="addNewProduct.description"></td>
        <td><input type="text" [(ngModel)]="addNewProduct.price"></td>
      </tr>
    </table>

    <button class="btn btn-small btn-primary" (click)="addProduct()" *ngIf="!addNewProduct">Add</button>
    <button class="btn btn-small btn-primary" (click)="saveProduct(addNewProduct)" *ngIf="addNewProduct">Save</button>

  </div>
  <div class="col-md-6">
    <app-product-update 
      (isVisible)="displayForm($event)"
      (updateProduct)="onProductUpdate($event)"
      [product]="updateProduct"
      *ngIf="isUpdate"></app-product-update>

    <app-product-detail [product]="currentProduct" *ngIf="currentProduct"></app-product-detail>
  </div>
</div>